body{
    background-image: url("https://images.hdqwalls.com/download/minimalist-landscape-to-1920x1080.jpg");
    color: white;
    
}

.container{
    width: 1000px;
    margin: auto;
}

.logo{
    width: 100px;
}

.logo-text{
    font-size: 25px;
    display: inline-block;
}

h3 > span{    
    background-color: orange;
    border-radius: 50%;
    padding: 5px;
}

.row-left, .row-right{
    display: inline-block;
}

.row-left{
    width: 30%;
}

.row-right{
    width: 68%;
}


.email.read{
    background-color: lightgrey;
}

.email.unread{
    background-color: white;
}

.subject{
    color: black;
}

.star:after{
    color: orange;
    content: "\2605";
}


.email .body{
    color: grey;
}

.email .body:after{
    content: ".....";
}

footer{
    text-align: center;
}

footer > span{
    font-size: 25px;
}